﻿<hr>
<h2>الرسالة المنقطة</h2>
<h3>تعريف</h3>
<p>
هي إحدى أساليب المخابرة السرية، و تعتمد على استبدال الحروف  برموز بأشكال هندسية  و نقاط
. توجد عدة طرق للأشكال و التنقيط
 </p>
 <h4>الترميز :</h4>
<p>يقوم المرسل برسم مخطط الترميز ، ثم يكتب الحرف حسب مكانه في الجدول.
و عندما يستقبل المستلم الرسالة يقوم برسم الجدول مرة أخرى و يفسر الحروف .
</p>
 <p>

 كل حرف يأخذ الشكل الهندسي الذي يوجد فيه ، و يكتب النقاط حسب رتبته في الخانة، مثلا الألف بنقطة واحدة و ال
 و حرف الصاد بنقطتين، أما الياء فتكتب بأربع نقاط
 </p>
 <h4>مثال</h4>
 <p>
 كشاف
 </p>
 <div style="direction:rtl;">
 <table border='0' dir='rtl' align='left'>
 <tr>
<td><img src="images:images/codepoint/feh.png"></td>
<td><img src="images:images/codepoint/alif.png"> </td>

<td><img src="images:images/codepoint/shin.png"> </td>
 <td><img src="images:images/codepoint/kaf.png"> </td>
</tr>
</table>
</div>

<h3>مخطط الترميز </h3>
<br>
<img src="images:images/codepoint/cp.png">



