﻿<hr>
<h2>السيمافور </h2>
<h3>تعريف السيمافور</h3>
<p> هو مصطلح كشفي .. ويعني التخاطب على بعدبواسطة

 الأعلام . وعند استخدام هذا الأسلوب للتخاطب يلزم حصول

كل من المرسل والمستقبل على علمين متشــابهين قد صـنعا

 بمواصفات خاصة <br/>
<img src="images:images/semaphore/semflag.png">
 </p>
 <h4>قـبل البدء :</h4>

<ol>
<li> تتكون عملية الاتصال من شخصين على الأقل – الأول مرسل والآخر مستقبل .</li>

<li> يقف كل من المرسل والمستقبل قبالة بعض وفي وضع الابتداء .</li>

<li> تذكر أن لكل حرف من حروف الهجاء موضع خاص لا يجوز تجاوزه .</li>

 </ol>

<h4>ملاحظات خاصة بالمرسل :</h4>
 <ol>
   <li>   بعد الانتهاء من كلمة – وليس كل حرف – يأخذ المرسل وضع الابتداء .</li>

<li>   إذا اقتضت الحاجة إلى إرسال حرف مكرر فإن المرسل يرسل الحرف ثم يعود إلى وضع الابتداء ويرسل الحرف مرة واحدة .</li>

<li>   عند إرسال الأعداد يعطي المرسل حرف ع ( عدد ) وإذا أراد العودة إلى الحروف يعطي حرف ك (كلمة )</li>
<p>
وللمعلومية فإن الأعداد تأخذ أوضاع بعض الحروف كما يلي :

1= أ          2= ب            3= ت            4= ث            5= ج            

6= ح         7= خ             8= د             9= ذ             صفر=ر
</p>
<li>ترسل الأرقام ( الأعداد المركبة ) من اليسار إلى اليمين .

مثال ( 364 ) يرسل 3 ثم 6 ثم 4 .                            </li>
</ol>
<h4>ملاحظات خاصة بالمستقبل :</h4>

<ol>
<li>      إذا فهم المستقبل فإنه يرد بالحرف ف ( فهمت ) .</li>

<li>      إذا لم يفهم المستقبل الكلمة فإنه يرد بالحرف ل ( لم أفهم )</li>
</ol>
 
<h3> رموز السيمافور</h3>

الدائرة الأولى
<br>
<img src="images:images/semaphore/alif.png"><img src="images:images/semaphore/beh.png"><img src="images:images/semaphore/teh.png"><img src="images:images/semaphore/theh.png"><img src="images:images/semaphore/jim.png"><img src="images:images/semaphore/hah.png"><img src="images:images/semaphore/khah.png"><br>
الدائرة الثانية
<br><img src="images:images/semaphore/del.png"><img src="images:images/semaphore/dhel.png"><img src="images:images/semaphore/reh.png"><img src="images:images/semaphore/zey.png"><img src="images:images/semaphore/sin.png"><img src="images:images/semaphore/shin.png"><br>
الدائرة الثالثة
<br><img src="images:images/semaphore/sad.png"><img src="images:images/semaphore/dad.png"><img src="images:images/semaphore/tah.png"><img src="images:images/semaphore/zah.png"><img src="images:images/semaphore/ain.png"><br>
الدائرة الرابعة
<br><img src="images:images/semaphore/ghain.png"><img src="images:images/semaphore/feh.png"><img src="images:images/semaphore/qaf.png"><img src="images:images/semaphore/kaf.png"> <br>
الدائرة الخامسة
<br><img src="images:images/semaphore/lam.png"><img src="images:images/semaphore/meem.png"><img src="images:images/semaphore/noun.png"><br>
الدائرة السادسة
<br><img src="images:images/semaphore/heh.png"> <img src="images:images/semaphore/waw.png"> <br>
الدائرة السابعة
<br><img src="images:images/semaphore/yeh.png"> <br>


